/* Remove margins and padding from the list */
#cartUL {
    margin: 0;
    padding: 0;
    align-items: center;
}

    /* Style the list. */
    #cartUL #cartLI {
        position: relative;
        background: #eee;
        padding: 12px 8px 12px 40px;
        height: 50px;
        font-size: 18px;
        transition: 0.2s;
        /* make the list items unselectable */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Set all odd list items to a different color */
    #cartUL.item #cartLI:nth-child(odd) {
        background: #f9f9f9;
    }

    /* Darker background-color on hover */
    #cartUL.item #cartLI:hover {
        background: #ddd;
    }

    /* Pad the list with empty spaces, when there is an even number of items. */
    #cartUL.space #cartLI.startEven:nth-child(odd) {
        background: #f9f9f9;
    }

    /* Pad the list with empty spaces, when there is an odd number of items. */
    #cartUL.space #cartLI.startOdd:nth-child(even) {
        background: #f9f9f9;
    }